/* Clear Rails app tmp cache if not working: `rails tmp:clear` */

/* Hide unwanted multi-select elements on Roles forms */
.news_item_roles_field,
.work_roles_field {
  .ra-multiselect-item-add,
  .ra-multiselect-left,
  .ra-multiselect-search {
    display: none;
  }
}

br {
  margin: 10px;
}

.controls hr {
  background-color: #f0ad4e;
  height: 10px;
}
